#v_pane {
}

#color-container {
	background-color: black; 
}

#center-container {
	background-color: black; 
}

#infovis {
	position:relative;
	width:600px;
	height:600px;
	margin:auto;
	overflow:hidden;
}

#right-container {
	float: right;
}

#container {
}

#log {
	position:absolute;
	top:10px;
	font-size:1.0em;
	font-weight:bold;
	color:#23A4FF;
}


